# top-most EditorConfig file
root = true

[*.md]
trim_trailing_whitespace = false
end_of_line = crlf
indent_size = 4

[*.{h,c,hpp,cpp,ixx,d,py,js,rs,ts}]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*]
max_line_length = 120
guidelines = 120
indent_size = 4
